<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="contents_root">
    <details class="contents_header" open>
        <summary>Search</summary>
        <form class="search_container has-shadow" method="dialog">
            <input type="text" placeholder="GoogleAPIで検索" id="keywords_textbox" name="keywords_textbox">
            <input type="submit" value="&#xf002" id="button_search" name="button_search">
        </form>
    </details>

    <ul class="search_result_container" id="search_result"></ul>

    <details class="contents_footer">
        <summary>Setting</summary>
        <div class="setting_container">
            <label for="activatorkey_textbox">API実行時の鍵</label>
            <input type="text" placeholder="activator-key" id="activatorkey_textbox" name="activatorkey_textbox">
            <label for="use_dummy">ダミーを使用する</label>
            <div class="toggle-switch">
                <input id="use_dummy" type='checkbox' style="display:none;" checked />
                <label for="use_dummy"></label>
                <span></span>
            </div> 
        </div>
    </details>
</div>

<div class="loader_container" style="display:none;" id="loader_container">
    <div class="loader">Loading...</div>
</div>

<%= javascript_pack_tag 'custom_search' %>
