!log
!public/packs
!tmp/pids/
!tmp/pids/.keep
.solargraph.yml
.vscode/*
coverage/*
docker-compose.yml
Dockerfile
log/*
node_modules
public/packs/*
readme_images/*
README.md
spec/*
tmp/*
